---
const pageTitle = "Github Profile Searcher";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="stylesheet" href = "output.css">
		<script src = "../scripts/script.js"></script>
	</head>
	<body>
		<header>
			<div class = "search-wrapper">
				<img src = "searchicon.png" id = "search-icon">
				<input type="search" id = "search" placeholder="username" spellcheck="false">
			</div>
			<div class = user-cards id = "card-container"></div>
		</header>
		<template id = "user-card-template">
		<div class = "card">
			<img class = "avatar" src = "" data-icon></img>
			<p class = "username" data-header></p>
			<p class = "bio" data-body></p>
		</div>
		</template>
		<template id = "repo-card">
			<div class = "repo">
				<p class = "title"><>
				<p class = "username" data-header></p>
				<p class = "bio" data-body></p>
			</div>
		</template>
		<h1>{pageTitle}</h1>
		<div class = "user-info" id = "follower-count">
			<p><b>Followers</b></p>
			<p class = "card-text"><p>
		</div>
		<div class = "user-info" id = "following-count">
			<p><b>Following</b></p>
			<p class = "card-text"><p>
		</div>
		<div class = "user-info" id = "location">
			<p><b>location</b></p>
			<p class = "card-text"><p>
		</div>
	</body>
</html>
