---
const pageTitle = "Github Profile Searcher";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href = "output.css">
		<script src = "../scripts/script.js"></script>
	</head>
	<body>
		<template id = "repo-card">
			<div class = "repo">
				<p></p>
				<h4 class = "repo-name" repo-name></h4>
				<p class = "repo-description" repo-description></p>
				<div id = repo-information>
					<p class = "repo-licence" repo-licence></p>
					<img id = "forks-icon" src = "FORK ICON.png"></img>
					<p class = "repo-forks" repo-forks></p>
					<img id = "stars-icon" src = "stars-icon.png">
					<p class = "repo-stars" repo-stars></p>
					<p class = "last-updated" repo-time></p>
				</div>
			</div>
		</template>
		<template id = "user-card-template">
			<div class = "card">
				<img class = "avatar" src = "" alt = "avatar" data-icon ></img>
				<p class = "username" data-header></p>
				<p class = "bio" data-body></p>
			</div>
		</template>

		<header>
			<div class = "search-wrapper">
				<img src = "searchicon.png" id = "search-icon">
				<input type="search" id = "search" placeholder="username" spellcheck="false">
			</div>
			<div class = user-cards id = "card-container"></div>
		</header>
		<main>
		<img id = "user-avatar" src = ""></img>
		<div class = "user-info">
			<p><b>Followers</b></p>
			<p class = "card-text" id = "follower-count"><p>
		</div>
		<div class = "user-info">
			<p><b>Following</b></p>
			<p class = "card-text" id = "following-count"><p>
		</div>
		<div class = "user-info" id = "location">
			<p><b>Location</b></p>
			<p class = "card-text" id = "location-text"><p>
		</div>
		<h2 id = "username"></h2>
		<p id = "bio-text"></p>
		</main>
		<article id = "repos-container"></article>
		<button onclick="displayMore()">View all repositories</button>
	</body>
</html>
