---
const pageTitle = "Github Profile Searcher";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="stylesheet" href = "style.css">
		<script src = "../scripts/script.js"></script>
	</head>
	<body>
		<header>
			<label for = "search">Search users</label>
			<input type="search" id="search">
		</header>
		<div class = "usercards">
		</div>
		<h1>{pageTitle}</h1>
		<p>this site will be used to create a github profile search tool check back later</p>
		<a href = "/"></a>
		
	</body>
</html>
