@tailwind base;
@tailwind components;
@tailwind utilities;
.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 1rem;
  }
  
  .usercards {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
  }